.main {
  display: grid;
  grid-template-columns: 20% 17% 63%;
  gap: 5px;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.third_col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-x: auto;
}
