body {
    width: 99%;
}

.main {
    display: grid;
    grid-template-columns: 20% 17% 63%;
    gap: 5px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif
}

table {
    border-collapse: collapse;
    width: 100%;
    justify-self: center;
}

td, th {
    border: 2px solid black;
    text-align: center;
}

th {
    background-color: black;
    color: white;
}

.skill_name {
    background-color: rgb(203, 9, 9);
    color: white;
}

#weapon input {
    width: 50%;
    text-align: center;
}

#skill_table input {
    width: 50%;
    height: 100%;
    text-align: center;
    border: none;
}

#stat_table input {
    width: 50%;
    text-align: center;
}

#hp_emp_armor input {
    width: 50%;
    text-align: center;
}

/* Стили для верхнего меню */
.menu {
    background-color: rgb(203, 9, 9); /* Красный фон */
    padding: 10px 0;
    position: fixed; /* Фиксированное меню */
    top: 0;
    width: 100%;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 15px;
    transition: background 0.3s;
}

.menu a:hover {
    background: #530e07; /* Красный при наведении */
    border-radius: 5px;
}