<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Страница не найдена</title>
  <style>
    body {
        background-color: #000000;
      font-family: sans-serif;
      text-align: center;
      margin-top: 50px;
      align-items: center;
    }
    h1 {
      font-size: 120px;
      color: #c00;
    }
    p {
      font-size: 60px;
      color: #c00;
    }
  </style>
</head>
<body>
  <h1>404</h1>
  <p>Дальше живут Искины. Вернитесь на <a href="/">главную</a>.</p>
</body>
</html>
