<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/lc.css' %}">
        <link rel="stylesheet" href="{% static 'css/modal_s.css' %}">
        <link rel="stylesheet" href="{% static 'css/tabs.css' %}">
    </head>
    <body data-char-id="{{ character.id }}">
        <nav class="menu">
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">Карта</a></li>
                <li><a href="#">Контакт</a></li>
            </ul>
        </nav>

        <div class="main">
            <div class="first_col">
                <table class='name_role'>
                    <tr>
                        <td>Name</td>
                        <td><input class = 'name'></td>
                    </tr>
                    <tr>
                        <td>Role</td>
                        <td><input class = 'role'></td>
                    </tr>
                </table>
                <table id="weapon">
                    <tr>
                        <th colspan="4">Вооружение</th>
                    </tr>
                    <tr>
                        <th>Название</th>
                        <th>УРОН</th>
                        <th>СКО</th>
                        <th>БОЕП</th>
                    </tr>
                    <tr>
                        <td><input></td>
                        <td><input></td>
                        <td><input></td>
                        <td><input></td>
                    </tr>
                    <tr>
                        <td><input></td>
                        <td><input></td>
                        <td><input></td>
                        <td><input></td>
                    </tr>
                    <tr>
                        <td><input></td>
                        <td><input></td>
                        <td><input></td>
                        <td><input></td>
                    </tr>
                    <tr>
                        <td><input></td>
                        <td><input></td>
                        <td><input></td>
                        <td><input></td>
                    </tr>
                </table>
            </div>
    
            <div class="second_col">
                <table id="stat_table">
                    <tr>
                        <th>INT</th>
                        <td><input class="stat" data-stat="int"></td>
                        <th>REF</th>
                        <td><input class="stat" data-stat="ref"></td>
                    </tr>
                    <tr>
                        <td>DEX</td>
                        <td><input class="stat" data-stat="dex"></td>
                        <td>TECH</td>
                        <td><input class="stat" data-stat="tech"></td>
                    </tr>
                    <tr>
                        <td>COOL</td>
                        <td><input class="stat" data-stat="cool"></td>
                        <td>WILL</td>
                        <td><input class="stat" data-stat="will"></td>
                    </tr>
                    <tr>
                        <td>MOVE</td>
                        <td><input class="stat" data-stat="move"></td>
                        <td>BODY</td>
                        <td><input class="stat" data-stat="body"></td>
                    </tr>
                    <tr>
                        <td>EMP</td>
                        <td><input class="stat" data-stat="emp"></td>
                        <td>LUCK</td>
                        <td><input class="stat" data-stat="luck"></td>
                    </tr>
                </table>
    
                <!-- ПЗ, БРОНЯ, РАНЕНИЯ -->
                <table id="hp_emp_armor">
                    <thead>
                        <tr>
                        <th colspan="2">Пункты Здоровья</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input class = 'real_hp'></td>
                            <td><input class = 'max_hp' readonly></td>
                        </tr>
                    </tbody>

                    <thead>
                        <tr>
                        <th colspan="2">Человечность</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input></td>
                            <td><input class = 'max_emp' readonly></td>
                        </tr>
                    </tbody>

                    <thead>
                        <tr>
                        <th>Броня</th>
                        <th>Прочность</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Голова</td>
                            <td><input class="armor" data-armor="head"></td>
                        </tr>
                        <tr>
                            <td>Тело</td>
                            <td><input class="armor" data-armor="body"></td>                    
                        </tr>
                        <tr>
                            <td>Щит</td>
                            <td><input class="armor" data-armor="shield"></td>                   
                        </tr>
                    </tbody>
                </table>
                
                <script src="{% static 'js/modal_js.js' %}" defer></script>
                <!-- Затемнённый фон и модальное окно -->
                Получение урона
                <div id="modalOverlayDamage" class="modal-overlay">
                    <div class="modal" style="display: grid">
                        <h2>Получение урона</h2>
                        <div>
                            <label><input type="checkbox" class="damageEffect" data-type="piercing"> Бронебойный</label><br>
                            <label><input type="checkbox" class="damageEffect" data-type="through"> Сквозь броню</label><br>
                            <label><input type="checkbox" class="damageEffect" data-type="piercingless"> Игнорирование 1/2 брони</label><br>                     
                        </div>
                        <table>
                            <tr>
                                <td><input class = "damage"></td>
                                <td><input class = "heal"></td>
                            </tr>
                            <tr>
                                <td><button id="closeModalBtn" onclick="getDamage()">Получить урон</button></td>
                                <td><button id="closeModalBtn" onclick="getHeal()">Вылечиться</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
                                <!-- Кнопка открытия -->
                <button id="openModalBtn">Открыть окно</button>
            </div>
    
            <div class="third_col">

                <div class="tab-header">
                    <button class="tab-btn active" data-tab="skills">Навыки</button>
                    <button class="tab-btn" data-tab="inventory">Инвентарь</button>
                    <button class="tab-btn" data-tab="cyberware">Киберимпланты</button>
                  </div>
    
                <!-- First column = (Восприятие, Физически, Дальний/Ближний) -->
                <div class="tab-content active" data-tab="skills">
                <div class="skills-scroll-area">
                <table class="skill" id="skill_table">
                    <tr>
                        <th>Awareness Skills</th>
                        <th>LVL</th>
                        <th>STAT</th>
                        <th>MOD</th>
                        <th>SUM</th>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Concetration (WILL)</th>
                        <td><input type = 'text' class = 'level' data-skill="concetration"></td>
                        <td><input class = 'stat-from' data-from="will" readonly></td>
                        <td><input type = 'text' class = 'mod' data-skill="concetration"></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Canceal/Reveal Object (INT)</th>
                        <td><input type = 'text' class = 'level' data-skill="canceal_reveal_object"></td>
                        <td><input class = 'stat-from' data-from="int" readonly></td>
                        <td><input type = 'text' class = 'mod' data-skill="canceal_reveal_object"></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Lip Reading (INT)</th>
                        <td><input type = 'text' class = 'level' data-skill="lip_reading"></td>
                        <td><input class = 'stat-from' data-from="int" readonly></td>
                        <td><input type = 'text' class = 'mod' data-skill="lip_reading"></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Perceprion (INT)</th>
                        <td><input type = 'text' class = 'level' data-skill="perception"></td>
                        <td><input class = 'stat-from' data-from="int" readonly></td>
                        <td><input type = 'text' class = 'mod' data-skill="perception"></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Tracking (INT)</th>
                        <td><input type = 'text' class = 'level' data-skill="tracking"></td>
                        <td><input class = 'stat-from' data-from="int" readonly></td>
                        <td><input type = 'text' class = 'mod' data-skill="tracking"></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th>Body Skills</th>
                        <th>LVL</th>
                        <th>STAT</th>
                        <th>MOD</th>
                        <th>SUM</th>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Athletics (DEX)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="dex" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Contortionist (DEX)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="dex" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Dance (DEX)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="dex" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Endurance (WILL)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="will" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Resist Totrutr/Drugs (WILL)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="will" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Stealth (DEX)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="dex" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th>Fighting Skills</th>
                        <th>LVL</th>
                        <th>STAT</th>
                        <th>MOD</th>
                        <th>SUM</th>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Brawling (DEX)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="dex" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Evasion (DEX)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="dex" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Martial Arts (x2) (DEX)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="dex" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Melee Weapon (DEX)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="dex" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th>Ranged Weapon Skills</th>
                        <th>LVL</th>
                        <th>STAT</th>
                        <th>MOD</th>
                        <th>SUM</th>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Achery (REF)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="ref" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Autofire (x2) (REF)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="ref" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Handgun (REF)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="ref" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Heavy Weapons (x2) (REF)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="ref" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Schoulder Arms (REF)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="ref" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                </table>
    
                <!-- Second column = (Вождение, Технические) -->
                <table class="skill" id="skill_table">
                    <tr>
                        <th>Control Skills</th>
                        <th>LVL</th>
                        <th>STAT</th>
                        <th>MOD</th>
                        <th>SUM</th>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Drive Land Vehicle (REF)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="ref" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Pilot Air Vehicle (x2) (REF)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="ref" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Pilot Sea Vehicle (REF)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="ref" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Riding (REF)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="ref" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th>Technique Skills</th>
                        <th>LVL</th>
                        <th>STAT</th>
                        <th>MOD</th>
                        <th>SUM</th>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Air Vehicle Tech (TECH)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="tech" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Basic Tech (TECH)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="tech" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Cybertechs (TECH)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="tech" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Demolitions (TECH)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="tech" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Electro/Sec Tech (x2) (TECH)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="tech" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>First Aid (TECH)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="tech" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Forgery (TECH)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="tech" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Land Vehicle Tech (TECH)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="tech" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Paint/Draw/Sculpt (TECH)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="tech" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Paramedic (x2) (TECH)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="tech" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Photo/Film (TECH)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="tech" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Pick Pocket (TECH)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="tech" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Sea Vehicle Tech (TECH)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="tech" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Weaponstech (TECH)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="tech" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                </table>
    
                <!-- Third column = (Образовательые, Харизма) -->
                <table class="skill" id="skill_table">
                    <tr>
                        <th>Social Skills</th>
                        <th>LVL</th>
                        <th>STAT</th>
                        <th>MOD</th>
                        <th>SUM</th>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Bribery (COOL)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="cool" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Conversation (EMP)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="emp" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Human Perception (EMP)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="emp" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Interrogation (COOL)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="cool" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Persuasion (COOL)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="cool" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Personal Grooming (COOL)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="cool" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Streetwise (COOL)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="cool" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Trading (COOL)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="cool" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Wardrobe & Style (COOL)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="cool" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Acting (COOL)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="cool" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th>Education Skills</th>
                        <th>LVL</th>
                        <th>STAT</th>
                        <th>MOD</th>
                        <th>SUM</th>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Accounting (INT)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="int" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Animal Handling (INT)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="int" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Bureaucracy (INT)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="int" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Business (INT)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="int" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Composition (INT)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="int" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Criminology (INT)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="int" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Cryptography (INT)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="int" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Deduction (INT)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="int" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Education (INT)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="int" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Gamble (INT)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="int" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>XXX (INT)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="int" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Library Search (INT)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="int" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Tactics (INT)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="int" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                    <tr>
                        <th class = 'skill_name'>Wilderness Survival (INT)</th>
                        <td><input type = 'text' class = 'level'></td>
                        <td><input class = 'stat-from' data-from="int" readonly></td>
                        <td><input type = 'text' class = 'mod'></td>
                        <td><input type = 'text' class = 'sum' readonly></td>
                    </tr>
                </table>
                </div>
                </div>

                <!-- ВТОРАЯ ВКЛАДКА С ИНВЕНТАРЕМ -->
                <input type="hidden" id="itemCounter" value="0">
                <div class="tab-content" data-tab="inventory">
                    <button onclick="addRow()">Добавить строку</button>
                    <table id="inventory_table">
                        <thead>
                        <tr>
                            <th>Название</th>
                            <th>Описание</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- строки будут добавляться сюда -->
                        </tbody>
                    </table>
                </div>

                <!-- ТРЕТЬЯ ВКЛАДКА С ИНВЕНТАРЕМ -->
                <div class="tab-content" data-tab="cyberware">
                    <div class="cyberware-grid">
                        
                        <!-- КИБЕРАУДИО & КИБЕРГЛАЗА -->
                        <div class="cyberware-block" data-type="cybereye_right">
                            <div class="cyberware-section">
                              <h4>Правый Киберглаз<input type="checkbox" class="main-toggle"></h4>
                              <div class="cyberware-description" contenteditable="true">
                                Искусственный визуальный сенсор
                            </div></div>
                            <div class="cyberware-section">
                              <h4>Модификации</h4>
                              <div class="mod-list" data-for="eye_right">
                                <!-- модификации -->
                              </div>
                              <button class="add-mod" data-target="eye_right">Добавить модификацию</button>
                            </div>
                        </div>

                        <div class="cyberware-block" data-type="cyberaudio">
                            <div class="cyberware-section">
                              <h4>Кибераудио<input type="checkbox" class="main-toggle"></h4>
                              <div class="cyberware-description" contenteditable="true">
                                Усовершенствованная слуховая система
                            </div></div>
                            <div class="cyberware-section">
                              <h4>Модификации</h4>
                              <div class="mod-list" data-for="audio">
                                <!-- модификации -->
                              </div>
                              <button class="add-mod" data-target="audio">Добавить модификацию</button>
                            </div>
                        </div>

                        <div class="cyberware-block" data-type="cybereye_left">
                            <div class="cyberware-section">
                              <h4>Левый Киберглаз<input type="checkbox" class="main-toggle"></h4>
                              <div class="cyberware-description" contenteditable="true">
                                Искусственный визуальный сенсор
                            </div></div>
                            <div class="cyberware-section">
                              <h4>Модификации</h4>
                              <div class="mod-list" data-for="eye_left">
                                <!-- модификации -->
                              </div>
                              <button class="add-mod" data-target="eye_left">Добавить модификацию</button>
                            </div>
                        </div>

                        <!-- КИБЕРРУКИ -->
                        <div class="cyberware-block" data-type="cyberarm_right">
                            <div class="cyberware-section">
                              <h4>Правая Киберрука<input type="checkbox" class="main-toggle"></h4>
                              <div class="cyberware-description" contenteditable="true">
                                Механическая конечность со встроенными приводами
                            </div></div>
                            <div class="cyberware-section">
                              <h4>Модификации</h4>
                              <div class="mod-list" data-for="arm_right">
                                <!-- модификации -->
                              </div>
                              <button class="add-mod" data-target="arm_right">Добавить модификацию</button>
                            </div>
                        </div>
                        <div></div> <!-- ПРОПУСК -->
                        <div class="cyberware-block" data-type="cyberarm_left">
                            <div class="cyberware-section">
                              <h4>Левая Киберрука<input type="checkbox" class="main-toggle"></h4>
                              <div class="cyberware-description" contenteditable="true">
                                Механическая конечность со встроенными приводами
                            </div></div>
                            <div class="cyberware-section">
                              <h4>Модификации</h4>
                              <div class="mod-list" data-for="arm_left">
                                <!-- модификации -->
                              </div>
                              <button class="add-mod" data-target="arm_left">Добавить модификацию</button>
                            </div>
                        </div>
                        
                        <!-- НЕЙРОЛИНК -->
                        <div></div> <!-- ПРОПУСК -->
                        <div class="cyberware-block" data-type="neural_link">
                            <div class="cyberware-section">
                              <h4>Нейролинк<input type="checkbox" class="main-toggle"></h4>
                              <div class="cyberware-description" contenteditable="true">
                                Проводная искусственная нервная система
                            </div></div>
                            <div class="cyberware-section">
                              <h4>Модификации</h4>
                              <div class="mod-list" data-for="neural_link">
                                <!-- модификации -->
                              </div>
                              <button class="add-mod" data-target="neural_link">Добавить модификацию</button>
                            </div>
                        </div>                        
                        <div></div> <!-- ПРОПУСК -->

                        <!-- КИБЕРНОГИ -->
                        <div class="cyberware-block" data-type="cyberleg_right">
                            <div class="cyberware-section">
                              <h4>Правая Кибернога<input type="checkbox" class="main-toggle"></h4>
                              <div class="cyberware-description" contenteditable="true">
                                Механическая конечность со встроенными приводами
                            </div></div>
                            <div class="cyberware-section">
                              <h4>Модификации</h4>
                              <div class="mod-list" data-for="leg_right">
                                <!-- модификации -->
                              </div>
                              <button class="add-mod" data-target="leg_right">Добавить модификацию</button>
                            </div>
                        </div>
                        <div></div> <!-- ПРОПУСК -->
                        <div class="cyberware-block" data-type="cyberleg_left">
                            <div class="cyberware-section">
                              <h4>Левая Кибернога<input type="checkbox" class="main-toggle"></h4>
                              <div class="cyberware-description" contenteditable="true">
                                Механическая конечность со встроенными приводами
                            </div></div>
                            <div class="cyberware-section">
                              <h4>Модификации</h4>
                              <div class="mod-list" data-for="leg_left">
                                <!-- модификации -->
                              </div>
                              <button class="add-mod" data-target="leg_left">Добавить модификацию</button>
                            </div>
                        </div>
                    </div>
                    
                    <!-- ОДНО МОДАЛЬНОЕ ОКНО -->
                    <div id="modalOverlayCyber" class="modal-overlay">
                        <div class="modal">
                            <h3 id="modModalTitle">Выберите модификацию</h3>
                            <div id="modOptionsContainer"></div>
                            <button id="closeModModal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </body>
    <script src="{% static 'js/script.js' %}" defer></script>
    <script src="{% static 'js/tabs.js' %}" defer></script>
    <script src="{% static 'js/collectdata.js' %}" defer></script>
</html>