<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/layout.css' %}">
        <link rel="stylesheet" href="{% static 'css/menu.css' %}">
        <link rel="stylesheet" href="{% static 'css/skills.css' %}">
        <link rel="stylesheet" href="{% static 'css/roles.css' %}">
        <link rel="stylesheet" href="{% static 'css/modals.css' %}">
        <link rel="stylesheet" href="{% static 'css/cyberware.css' %}">
        <link rel="stylesheet" href="{% static 'css/tabs.css' %}">
    </head>
    <body data-char-id="{{ character.id }}">
        <nav class="menu">
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">Карта</a></li>
                <li><a href="#">Контакт</a></li>
            </ul>
        </nav>

        <div class="main">
            <div class="first_col">
                <table class='name_role'>
                    <tr>
                        <td>Имя</td>
                        <td><input class = 'name'></td>
                    </tr>
                    <tr>
                        <td>Роль</td>
                            <td>
                            <input class="role-choice" id="roleInput" readonly>
                            <input type="hidden" class="role" id="roleHiddenInput">
                            <div id="modalOverlayRole" class="modal-overlay">
                                <div class="modalrole">
                                <h3>Выберите новую роль:</h3>
                                <div style = "display: grid;  grid-template-columns: repeat(5, 1fr);
                                width: 100%; gap: 40px;" class="roles">
                                    <!-- СОЛО -->
                                    <label class="role-card">
                                        <input type="radio" name="role-choice" value="solo" required>
                                        <div class="card-content">
                                            <h3>Соло</h3>
                                            <p>Боец, наёмник, охранник или Машина для убийств.</p>
                                        </div>
                                    </label>
                                    <!-- РОКЕРБОЙ -->
                                    <label class="role-card">
                                        <input type="radio" name="role-choice" value="rocker">
                                        <div class="card-content">
                                        <h3>Рокербой</h3>
                                        <p>Оратор, способный вдохновлять массы и поднимать восстания одним своим словом</p>
                                        </div>
                                    </label>
                                    
                                    <!-- НЕТРАННЕР -->
                                    <label class="role-card">
                                        <input type="radio" name="role-choice" value="netrunner">
                                        <div class="card-content">
                                        <h3>Нетраннер</h3>
                                        <p>Хакер, владеющий сетью и киберпространством.</p>
                                        </div>
                                    </label>

                                    <!-- ТЕХНИК -->
                                    <label class="role-card">
                                        <input type="radio" name="role-choice" value="techie" required>
                                        <div class="card-content">
                                        <h3>Техник</h3>
                                        <p>Инженер, механик, специалист по имплантам. </p>
                                        </div>
                                    </label>

                                    <!-- МЕДТЕХ -->
                                    <label class="role-card">
                                        <input type="radio" name="role-choice" value="medtech" required>
                                        <div class="card-content">
                                        <h3>Медтех</h3>
                                        <p>Хирург, фармацевт или биоинженер. Спасает жизни... или создаёт новое оружие</p>
                                        </div>
                                    </label>

                                    <!-- МЕДИА -->
                                    <label class="role-card">
                                        <input type="radio" name="role-choice" value="media" required>
                                        <div class="card-content">
                                        <h3>Медиа</h3>
                                        <p>Журналист, охотник за правдой. Его камера опаснее пистолета, а эфир — поле битвы</p>
                                        </div>
                                    </label>

                                    <!-- КОРПОРАТ -->
                                    <label class="role-card">
                                        <input type="radio" name="role-choice" value="corporate" required>
                                        <div class="card-content">
                                        <h3>Корпорат</h3>
                                        <p>Представитель корпорации. Деньги, власть и закулисные интриги</p>
                                        </div>
                                    </label>

                                    <!-- ЗАКОННИК -->
                                    <label class="role-card">
                                        <input type="radio" name="role-choice" value="lawman" required>
                                        <div class="card-content">
                                        <h3>Законник</h3>
                                        <p>Ходячий закон. Часто — последний рубеж между порядком и хаосом</p>
                                        </div>
                                    </label>

                                    <!-- ФИКСЕР -->
                                    <label class="role-card">
                                        <input type="radio" name="role-choice" value="fixer" required>
                                        <div class="card-content">
                                        <h3>Фиксер</h3>
                                        <p>Брокер теней, посредник, дилер. Если тебе что-то нужно — он уже это достал</p>
                                        </div>
                                    </label>

                                    <!-- КОЧЕВНИК -->
                                    <label class="role-card">
                                        <input type="radio" name="role-choice" value="nomad" required>
                                        <div class="card-content">
                                        <h3>Кочевник</h3>
                                        <p>Водитель, рейдер, курьер. Живёт дорогой и дышит свободой</p>
                                        </div>
                                    </label>
                                </div>
                                <button onclick="closeRoleModal()">Закрыть</button>
                                </div>
                            </div>

                            <button onclick="toggleRoleEdit()">Изменить роль</button>
                            </td>

                    </tr>
                    <tr>
                        <td>Ролевая способность</td>
                        <td><input class='role_level' type="number" id="role_level" max="10" min="1"> Уровень
                        </td>
                    </tr>
                    <tr>
                        <td id='roleAbilities' colspan="2">
                        </td> <!--  ОПИСАНИЕ РОЛЕВОЙ СПОСОБНОСТИ -->
                    </tr>
                </table>
            </div>
    
            <div class="second_col">
                <table id="stat_table">
                    <tr>
                        <th>ИНТ</th>
                        <td><input type = 'number' class="stat" data-stat="int"></td>
                        <th>РЕА</th>
                        <td><input type = 'number' class="stat" data-stat="ref"></td>
                    </tr>
                    <tr>
                        <td>ЛВК</td>
                        <td><input type = 'number' class="stat" data-stat="dex"></td>
                        <td>ТЕХ</td>
                        <td><input type = 'number' class="stat" data-stat="tech"></td>
                    </tr>
                    <tr>
                        <td>ХАР</td>
                        <td><input type = 'number' class="stat" data-stat="cool"></td>
                        <td>ВОЛЯ</td>
                        <td><input type = 'number' class="stat" data-stat="will"></td>
                    </tr>
                    <tr>
                        <td>СКО</td>
                        <td><input type = 'number' class="stat" data-stat="move"></td>
                        <td>ТЕЛ</td>
                        <td><input type = 'number' class="stat" data-stat="body"></td>
                    </tr>
                    <tr>
                        <td rowspan="2">ЭМП</td>
                        <td><input type = 'number' class="stat" data-stat="emp"></td>
                        <td rowspan="2">УДЧ</td>
                        <td><input type = 'number' class="stat" data-stat="luck"></td>
                    </tr>
                    <tr>
                        <td><input type = 'number' class="new_stat" data-stat="new_emp"></td>
                        <td><input type = 'number'></td>
                    </tr>
                </table>
    
                <!-- ПЗ, БРОНЯ, РАНЕНИЯ -->
                <table id="hp_emp_armor">
                    <thead>
                        <tr>
                        <th colspan="2">Пункты Здоровья</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type = 'number' class = 'real_hp' readonly></td>
                            <td><input class = 'max_hp' readonly></td>
                        </tr>
                    </tbody>

                    <thead>
                        <tr>
                        <th colspan="2">Человечность</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type = 'number' class = 'real_hum'></td>
                            <td><input class = 'max_hum' readonly></td>
                        </tr>
                        <input class="minus_hum" type="hidden" value="0">
                    </tbody>

                    <thead>
                        <tr>
                        <th>Броня</th>
                        <th>Прочность</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Голова</td>
                            <td><input class="armor" data-armor="head"></td>
                        </tr>
                        <tr>
                            <td>Тело</td>
                            <td><input class="armor" data-armor="body"></td>                    
                        </tr>
                        <tr>
                            <td>Щит</td>
                            <td><input class="armor" data-armor="shield"></td>                   
                        </tr>
                    </tbody>
                </table>
    
                <!-- Затемнённый фон и модальное окно -->
                Калькулятор
                <div id="modalOverlayDamage" class="modal-overlay">
                    <div class="modaldamage" style="display: grid">
                        <h2>Калькулятор Здоровья, Брони и Человечности
                        </h2>
                        <div>
                            <label><input type="checkbox" class="damageEffect" data-type="piercing"> Бронебойный</label><br>
                            <label><input type="checkbox" class="damageEffect" data-type="through"> Сквозь броню</label><br>
                            <label><input type="checkbox" class="damageEffect" data-type="piercingless"> Игнорирование 1/2 брони</label><br>                     
                        </div>
                        <div>
                            <label><input type="radio" class="damagePart" data-type="head" required> В Голову</label><br>
                            <label><input type="radio" class="damagePart" data-type="body"> В Тело</label><br>
                            <label><input type="radio" class="damagePart" data-type="shield"> В Щит</label><br>                     
                        </div>
                        <script>
                            const checkboxes = document.querySelectorAll('.damagePart');
                            checkboxes.forEach(cb => {
                              cb.addEventListener('change', () => {
                                if (cb.checked) {
                                  checkboxes.forEach(other => {
                                    if (other !== cb) other.checked = false;
                                  });
                                }
                              });
                            });
                          </script>
                        <table>
                            <tr>
                                <td><input class = "damage"></td>
                                <td><input class = "heal"></td>
                            </tr>
                            <tr>
                                <td><button id="closeModalBtn" onclick="getDamage()">Получить урон</button></td>
                                <td><button id="closeModalBtn" onclick="getHeal()">Вылечиться</button></td>
                            </tr>
                            <tr>
                                <td colspan="2"><input class = "hum"></td>
                            </tr>
                            <tr>
                                <td><button onclick="getDamageHum()">adam smasher</button></td>
                                <td><button onclick="getHum()">human being</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
                                <!-- Кнопка открытия -->
                <button onclick="openDamageModal()">Открыть окно</button>
            </div>
    
            <div class="third_col">

                <div class="tab-header">
                    <button class="tab-btn active" data-tab="skills">Навыки</button>
                    <button class="tab-btn" data-tab="inventory">Инвентарь</button>
                    <button class="tab-btn" data-tab="cyberware">Киберимпланты</button>
                  </div>
    
                 <!-- First column = (Восприятие, Физически, Дальний/Ближний) -->
                <div class="tab-content active" data-tab="skills">
                <div class="skills-scroll-area">
                <table class="skill" id="skill_table">
                <tr>
                    <th>Awareness Skills</th>
                    <th>LVL</th>
                    <th>STAT</th>
                    <th>MOD</th>
                    <th>SUM</th>
                </tr>
                <tr>
                    <th class="skill_name">Концентрация (WILL)</th>
                    <td><input class="level" data-skill="concetration" type="text"/></td>
                    <td><input class="stat-from" data-from="will" readonly=""/></td>
                    <td><input class="mod" data-skill="concetration" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Скрыть/Обнаружить предмет (INT)</th>
                    <td><input class="level" data-skill="canceal_reveal_object" type="text"/></td>
                    <td><input class="stat-from" data-from="int" readonly=""/></td>
                    <td><input class="mod" data-skill="canceal_reveal_object" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Чтение по губам (INT)</th>
                    <td><input class="level" data-skill="lip_reading" type="text"/></td>
                    <td><input class="stat-from" data-from="int" readonly=""/></td>
                    <td><input class="mod" data-skill="lip_reading" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Восприятие (INT)</th>
                    <td><input class="level" data-skill="perceprion" type="text"/></td>
                    <td><input class="stat-from" data-from="int" readonly=""/></td>
                    <td><input class="mod" data-skill="perceprion" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Отслеживание (INT)</th>
                    <td><input class="level" data-skill="tracking" type="text"/></td>
                    <td><input class="stat-from" data-from="int" readonly=""/></td>
                    <td><input class="mod" data-skill="tracking" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th>Body Skills</th>
                    <th>LVL</th>
                    <th>STAT</th>
                    <th>MOD</th>
                    <th>SUM</th>
                </tr>
                <tr>
                    <th class="skill_name">Атлетика (ЛВК)</th>
                    <td><input class="level" data-skill="" type="text"/></td>
                    <td><input class="stat-from" data-from="dex" readonly=""/></td>
                    <td><input class="mod" data-skill="" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Акробатика (DEX)</th>
                    <td><input class="level" data-skill="contortionist" type="text"/></td>
                    <td><input class="stat-from" data-from="dex" readonly=""/></td>
                    <td><input class="mod" data-skill="contortionist" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Танец (DEX)</th>
                    <td><input class="level" data-skill="dance" type="text"/></td>
                    <td><input class="stat-from" data-from="dex" readonly=""/></td>
                    <td><input class="mod" data-skill="dance" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Выносливость (WILL)</th>
                    <td><input class="level" data-skill="endurance" type="text"/></td>
                    <td><input class="stat-from" data-from="will" readonly=""/></td>
                    <td><input class="mod" data-skill="endurance" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Сопротивление пыткам/наркотикам (WILL)</th>
                    <td><input class="level" data-skill="resist_totrutr_drugs" type="text"/></td>
                    <td><input class="stat-from" data-from="will" readonly=""/></td>
                    <td><input class="mod" data-skill="resist_totrutr_drugs" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Скрытность (DEX)</th>
                    <td><input class="level" data-skill="stealth" type="text"/></td>
                    <td><input class="stat-from" data-from="dex" readonly=""/></td>
                    <td><input class="mod" data-skill="stealth" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th>Fighting Skills</th>
                    <th>LVL</th>
                    <th>STAT</th>
                    <th>MOD</th>
                    <th>SUM</th>
                </tr>
                <tr>
                    <th class="skill_name">Рукопашный бой (DEX)</th>
                    <td><input class="level" data-skill="brawling" type="text"/></td>
                    <td><input class="stat-from" data-from="dex" readonly=""/></td>
                    <td><input class="mod" data-skill="brawling" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Уклонение (DEX)</th>
                    <td><input class="level" data-skill="evasion" type="text"/></td>
                    <td><input class="stat-from" data-from="dex" readonly=""/></td>
                    <td><input class="mod" data-skill="evasion" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Боевые искусства (x2)</th>
                    <td><input class="level" data-skill="martial_arts" type="text"/></td>
                    <td><input class="stat-from" data-from="dex" readonly=""/></td>
                    <td><input class="mod" data-skill="martial_arts" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Холодное оружие (DEX)</th>
                    <td><input class="level" data-skill="melee_weapon" type="text"/></td>
                    <td><input class="stat-from" data-from="dex" readonly=""/></td>
                    <td><input class="mod" data-skill="melee_weapon" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th>Ranged Weapon Skills</th>
                    <th>LVL</th>
                    <th>STAT</th>
                    <th>MOD</th>
                    <th>SUM</th>
                </tr>
                <tr>
                    <th class="skill_name">Стрельба из лука (REF)</th>
                    <td><input class="level" data-skill="achery" type="text"/></td>
                    <td><input class="stat-from" data-from="ref" readonly=""/></td>
                    <td><input class="mod" data-skill="achery" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Автоогонь (x2)</th>
                    <td><input class="level" data-skill="autofire" type="text"/></td>
                    <td><input class="stat-from" data-from="ref" readonly=""/></td>
                    <td><input class="mod" data-skill="autofire" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Пистолеты (REF)</th>
                    <td><input class="level" data-skill="handgun" type="text"/></td>
                    <td><input class="stat-from" data-from="ref" readonly=""/></td>
                    <td><input class="mod" data-skill="handgun" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Тяжёлое оружие (x2)</th>
                    <td><input class="level" data-skill="heavy_weapons" type="text"/></td>
                    <td><input class="stat-from" data-from="ref" readonly=""/></td>
                    <td><input class="mod" data-skill="heavy_weapons" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Винтовки (REF)</th>
                    <td><input class="level" data-skill="schoulder_arms" type="text"/></td>
                    <td><input class="stat-from" data-from="ref" readonly=""/></td>
                    <td><input class="mod" data-skill="schoulder_arms" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                </table>
                <!-- Second column = (Вождение, Технические) -->
                <table class="skill" id="skill_table">
                <tr>
                    <th>Control Skills</th>
                    <th>LVL</th>
                    <th>STAT</th>
                    <th>MOD</th>
                    <th>SUM</th>
                </tr>
                <tr>
                    <th class="skill_name">Вождение (REF)</th>
                    <td><input class="level" data-skill="drive_land_vehicle" type="text"/></td>
                    <td><input class="stat-from" data-from="ref" readonly=""/></td>
                    <td><input class="mod" data-skill="drive_land_vehicle" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Пилотирование (возд.) (x2)</th>
                    <td><input class="level" data-skill="pilot_air_vehicle" type="text"/></td>
                    <td><input class="stat-from" data-from="ref" readonly=""/></td>
                    <td><input class="mod" data-skill="pilot_air_vehicle" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Пилотирование (мор.) (REF)</th>
                    <td><input class="level" data-skill="pilot_sea_vehicle" type="text"/></td>
                    <td><input class="stat-from" data-from="ref" readonly=""/></td>
                    <td><input class="mod" data-skill="pilot_sea_vehicle" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Верховая езда (REF)</th>
                    <td><input class="level" data-skill="riding" type="text"/></td>
                    <td><input class="stat-from" data-from="ref" readonly=""/></td>
                    <td><input class="mod" data-skill="riding" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th>Technique Skills</th>
                    <th>LVL</th>
                    <th>STAT</th>
                    <th>MOD</th>
                    <th>SUM</th>
                </tr>
                <tr>
                    <th class="skill_name">Тех. летательных аппаратов (TECH)</th>
                    <td><input class="level" data-skill="air_vehicle_tech" type="text"/></td>
                    <td><input class="stat-from" data-from="tech" readonly=""/></td>
                    <td><input class="mod" data-skill="air_vehicle_tech" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Базовая техника (TECH)</th>
                    <td><input class="level" data-skill="basic_tech" type="text"/></td>
                    <td><input class="stat-from" data-from="tech" readonly=""/></td>
                    <td><input class="mod" data-skill="basic_tech" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Кибертехника (TECH)</th>
                    <td><input class="level" data-skill="cybertechs" type="text"/></td>
                    <td><input class="stat-from" data-from="tech" readonly=""/></td>
                    <td><input class="mod" data-skill="cybertechs" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Взрывчатка (TECH)</th>
                    <td><input class="level" data-skill="demolitions" type="text"/></td>
                    <td><input class="stat-from" data-from="tech" readonly=""/></td>
                    <td><input class="mod" data-skill="demolitions" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Электро/Сек. техника (x2)</th>
                    <td><input class="level" data-skill="electro_sec_tech" type="text"/></td>
                    <td><input class="stat-from" data-from="tech" readonly=""/></td>
                    <td><input class="mod" data-skill="electro_sec_tech" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Первая помощь (TECH)</th>
                    <td><input class="level" data-skill="first_aid" type="text"/></td>
                    <td><input class="stat-from" data-from="tech" readonly=""/></td>
                    <td><input class="mod" data-skill="first_aid" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Фальшивка (TECH)</th>
                    <td><input class="level" data-skill="forgery" type="text"/></td>
                    <td><input class="stat-from" data-from="tech" readonly=""/></td>
                    <td><input class="mod" data-skill="forgery" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Тех. наземного транспорта (TECH)</th>
                    <td><input class="level" data-skill="land_vehicle_tech" type="text"/></td>
                    <td><input class="stat-from" data-from="tech" readonly=""/></td>
                    <td><input class="mod" data-skill="land_vehicle_tech" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Живопись/Рисование/Скульпт. (TECH)</th>
                    <td><input class="level" data-skill="paint_draw_sculpt" type="text"/></td>
                    <td><input class="stat-from" data-from="tech" readonly=""/></td>
                    <td><input class="mod" data-skill="paint_draw_sculpt" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Парамедик (x2)</th>
                    <td><input class="level" data-skill="paramedic" type="text"/></td>
                    <td><input class="stat-from" data-from="tech" readonly=""/></td>
                    <td><input class="mod" data-skill="paramedic" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Фото/Кино (TECH)</th>
                    <td><input class="level" data-skill="photo_film" type="text"/></td>
                    <td><input class="stat-from" data-from="tech" readonly=""/></td>
                    <td><input class="mod" data-skill="photo_film" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Карманник (TECH)</th>
                    <td><input class="level" data-skill="pick_pocket" type="text"/></td>
                    <td><input class="stat-from" data-from="tech" readonly=""/></td>
                    <td><input class="mod" data-skill="pick_pocket" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Тех. морского транспорта (TECH)</th>
                    <td><input class="level" data-skill="sea_vehicle_tech" type="text"/></td>
                    <td><input class="stat-from" data-from="tech" readonly=""/></td>
                    <td><input class="mod" data-skill="sea_vehicle_tech" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Оружейное дело (TECH)</th>
                    <td><input class="level" data-skill="weaponstech" type="text"/></td>
                    <td><input class="stat-from" data-from="tech" readonly=""/></td>
                    <td><input class="mod" data-skill="weaponstech" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                </table>
                <!-- Third column = (Образовательые, Харизма) -->
                <table class="skill" id="skill_table">
                <tr>
                    <th>Social Skills</th>
                    <th>LVL</th>
                    <th>STAT</th>
                    <th>MOD</th>
                    <th>SUM</th>
                </tr>
                <tr>
                    <th class="skill_name">Взятки (COOL)</th>
                    <td><input class="level" data-skill="bribery" type="text"/></td>
                    <td><input class="stat-from" data-from="cool" readonly=""/></td>
                    <td><input class="mod" data-skill="bribery" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Разговор (EMP)</th>
                    <td><input class="level" data-skill="conversation" type="text"/></td>
                    <td><input class="stat-from" data-from="emp" readonly=""/></td>
                    <td><input class="mod" data-skill="conversation" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Человеческое восприятие (EMP)</th>
                    <td><input class="level" data-skill="human_perception" type="text"/></td>
                    <td><input class="stat-from" data-from="emp" readonly=""/></td>
                    <td><input class="mod" data-skill="human_perception" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Допрос (COOL)</th>
                    <td><input class="level" data-skill="interrogation" type="text"/></td>
                    <td><input class="stat-from" data-from="cool" readonly=""/></td>
                    <td><input class="mod" data-skill="interrogation" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Убеждение (COOL)</th>
                    <td><input class="level" data-skill="persuasion" type="text"/></td>
                    <td><input class="stat-from" data-from="cool" readonly=""/></td>
                    <td><input class="mod" data-skill="persuasion" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Уход за собой (COOL)</th>
                    <td><input class="level" data-skill="personal_grooming" type="text"/></td>
                    <td><input class="stat-from" data-from="cool" readonly=""/></td>
                    <td><input class="mod" data-skill="personal_grooming" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Уличная смекалка (COOL)</th>
                    <td><input class="level" data-skill="streetwise" type="text"/></td>
                    <td><input class="stat-from" data-from="cool" readonly=""/></td>
                    <td><input class="mod" data-skill="streetwise" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Торговля (COOL)</th>
                    <td><input class="level" data-skill="trading" type="text"/></td>
                    <td><input class="stat-from" data-from="cool" readonly=""/></td>
                    <td><input class="mod" data-skill="trading" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Стиль и одежда (COOL)</th>
                    <td><input class="level" data-skill="wardrobe_style" type="text"/></td>
                    <td><input class="stat-from" data-from="cool" readonly=""/></td>
                    <td><input class="mod" data-skill="wardrobe_style" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Актёрство (COOL)</th>
                    <td><input class="level" data-skill="acting" type="text"/></td>
                    <td><input class="stat-from" data-from="cool" readonly=""/></td>
                    <td><input class="mod" data-skill="acting" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th>Education Skills</th>
                    <th>LVL</th>
                    <th>STAT</th>
                    <th>MOD</th>
                    <th>SUM</th>
                </tr>
                <tr>
                    <th class="skill_name">Бухгалтерия (INT)</th>
                    <td><input class="level" data-skill="accounting" type="text"/></td>
                    <td><input class="stat-from" data-from="int" readonly=""/></td>
                    <td><input class="mod" data-skill="accounting" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Обращение с животными (INT)</th>
                    <td><input class="level" data-skill="animal_handling" type="text"/></td>
                    <td><input class="stat-from" data-from="int" readonly=""/></td>
                    <td><input class="mod" data-skill="animal_handling" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Бюрократия (INT)</th>
                    <td><input class="level" data-skill="bureaucracy" type="text"/></td>
                    <td><input class="stat-from" data-from="int" readonly=""/></td>
                    <td><input class="mod" data-skill="bureaucracy" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Бизнес (INT)</th>
                    <td><input class="level" data-skill="business" type="text"/></td>
                    <td><input class="stat-from" data-from="int" readonly=""/></td>
                    <td><input class="mod" data-skill="business" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Сочинительство (INT)</th>
                    <td><input class="level" data-skill="composition" type="text"/></td>
                    <td><input class="stat-from" data-from="int" readonly=""/></td>
                    <td><input class="mod" data-skill="composition" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Криминология (INT)</th>
                    <td><input class="level" data-skill="criminology" type="text"/></td>
                    <td><input class="stat-from" data-from="int" readonly=""/></td>
                    <td><input class="mod" data-skill="criminology" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Криптография (INT)</th>
                    <td><input class="level" data-skill="cryptography" type="text"/></td>
                    <td><input class="stat-from" data-from="int" readonly=""/></td>
                    <td><input class="mod" data-skill="cryptography" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Дедукция (INT)</th>
                    <td><input class="level" data-skill="deduction" type="text"/></td>
                    <td><input class="stat-from" data-from="int" readonly=""/></td>
                    <td><input class="mod" data-skill="deduction" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Образование (INT)</th>
                    <td><input class="level" data-skill="education" type="text"/></td>
                    <td><input class="stat-from" data-from="int" readonly=""/></td>
                    <td><input class="mod" data-skill="education" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Азартные игры (INT)</th>
                    <td><input class="level" data-skill="gamble" type="text"/></td>
                    <td><input class="stat-from" data-from="int" readonly=""/></td>
                    <td><input class="mod" data-skill="gamble" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">XXX (INT)</th>
                    <td><input class="level" data-skill="xxx" type="text"/></td>
                    <td><input class="stat-from" data-from="int" readonly=""/></td>
                    <td><input class="mod" data-skill="xxx" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Поиск в библиотеке (INT)</th>
                    <td><input class="level" data-skill="library_search" type="text"/></td>
                    <td><input class="stat-from" data-from="int" readonly=""/></td>
                    <td><input class="mod" data-skill="library_search" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Тактика (INT)</th>
                    <td><input class="level" data-skill="tactics" type="text"/></td>
                    <td><input class="stat-from" data-from="int" readonly=""/></td>
                    <td><input class="mod" data-skill="tactics" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                <tr>
                    <th class="skill_name">Выживание в дикой природе (INT)</th>
                    <td><input class="level" data-skill="wilderness_survival" type="text"/></td>
                    <td><input class="stat-from" data-from="int" readonly=""/></td>
                    <td><input class="mod" data-skill="wilderness_survival" type="text"/></td>
                    <td><input class="sum" readonly="" type="text"/></td>
                </tr>
                </table>
                </div>
                </div>

                <!-- ВТОРАЯ ВКЛАДКА С ИНВЕНТАРЕМ -->
                <input type="hidden" id="itemCounter" value="0">
                <div class="tab-content" data-tab="inventory">
                    <button onclick="addRowInv()">Добавить строку</button>
                    <table id="inventory_table">
                        <thead>
                        <tr>
                            <th>Название</th>
                            <th>Описание</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- строки будут добавляться сюда -->
                        </tbody>
                    </table>
                </div>

                <!-- ТРЕТЬЯ ВКЛАДКА С ИНВЕНТАРЕМ -->
                <div class="tab-content" data-tab="cyberware">
                    <div class="cyberware-grid">
                        
                        <!-- КИБЕРАУДИО & КИБЕРГЛАЗА & ВНУТРЕННИЕ -->
                        <div class="cyberware-block" data-type="cybereye_right">
                            <div class="cyberware-section">
                              <h4>Правый Киберглаз<input type="checkbox" class="cybertoggle"></h4>
                              <div class="cyberware-description" contenteditable="true">
                                Искусственный визуальный сенсор
                            </div></div>
                            <div class="cyberware-section">
                              <h4>Модификации</h4>
                              <div class="mod-list" data-for="cybereye">
                                <!-- модификации -->
                              </div>
                              <button class="add-mod" data-target="cybereye">Добавить модификацию</button>
                            </div>
                        </div>

                        <div class="cyberware-block" data-type="cyberaudio">
                            <div class="cyberware-section">
                              <h4>Кибераудио<input type="checkbox" class="cybertoggle"></h4>
                              <div class="cyberware-description" contenteditable="true">
                                Усовершенствованная слуховая система
                            </div></div>
                            <div class="cyberware-section">
                              <h4>Модификации</h4>
                              <div class="mod-list" data-for="cyberaudio">
                                <!-- модификации -->
                              </div>
                              <button class="add-mod" data-target="cyberaudio">Добавить модификацию</button>
                            </div>
                        </div>

                        <div class="cyberware-block" data-type="cybereye_left">
                            <div class="cyberware-section">
                              <h4>Левый Киберглаз<input type="checkbox" class="cybertoggle"></h4>
                              <div class="cyberware-description" contenteditable="true">
                                Искусственный визуальный сенсор
                            </div></div>
                            <div class="cyberware-section">
                              <h4>Модификации</h4>
                              <div class="mod-list" data-for="cybereye">
                                <!-- модификации -->
                              </div>
                              <button class="add-mod" data-target="cybereye">Добавить модификацию</button>
                            </div>
                        </div>

                        <div class="cyberware-block" data-type="internal">
                            <div class="cyberware-section">
                              <h4>Внутренние киберимпланты</h4>
                              <div class="cyberware-description" contenteditable="true">
                                <!-- Какое нибудь описание -->
                            </div></div>
                            <div class="cyberware-section">
                              <h4>Модификации</h4>
                              <div class="mod-list" data-for="internal">
                                <!-- модификации -->
                              </div>
                              <button class="add-mod" data-target="internal">Добавить модификацию</button>
                            </div>
                        </div>

                        <!-- КИБЕРРУКИ -->
                        <div class="cyberware-block" data-type="cyberarm_right">
                            <div class="cyberware-section">
                              <h4>Правая Киберрука<input type="checkbox" class="cybertoggle"></h4>
                              <div class="cyberware-description" contenteditable="true">
                                Механическая конечность со встроенными приводами
                            </div></div>
                            <div class="cyberware-section">
                              <h4>Модификации</h4>
                              <div class="mod-list" data-for="cyberarm">
                                <!-- модификации -->
                              </div>
                              <button class="add-mod" data-target="cyberarm">Добавить модификацию</button>
                            </div>
                        </div>
                        <div></div> <!-- ПРОПУСК -->
                        <div class="cyberware-block" data-type="cyberarm_left">
                            <div class="cyberware-section">
                              <h4>Левая Киберрука<input type="checkbox" class="cybertoggle"></h4>
                              <div class="cyberware-description" contenteditable="true">
                                Механическая конечность со встроенными приводами
                            </div></div>
                            <div class="cyberware-section">
                              <h4>Модификации</h4>
                              <div class="mod-list" data-for="cyberarm">
                                <!-- модификации -->
                              </div>
                              <button class="add-mod" data-target="cyberarm">Добавить модификацию</button>
                            </div>
                        </div>

                        <div class="cyberware-block" data-type="external">
                            <div class="cyberware-section">
                              <h4>Внутренние киберимпланты</h4>
                              <div class="cyberware-description" contenteditable="true">
                                <!-- Какое нибудь описание -->
                            </div></div>
                            <div class="cyberware-section">
                              <h4>Модификации</h4>
                              <div class="mod-list" data-for="external">
                                <!-- модификации -->
                              </div>
                              <button class="add-mod" data-target="external">Добавить модификацию</button>
                            </div>
                        </div>
                        
                        <!-- НЕЙРОЛИНК -->
                        <div></div> <!-- ПРОПУСК -->
                        <div class="cyberware-block" data-type="neural_link">
                            <div class="cyberware-section">
                              <h4>Нейролинк<input type="checkbox" class="cybertoggle"></h4>
                              <div class="cyberware-description" contenteditable="true">
                                Проводная искусственная нервная система
                            </div></div>
                            <div class="cyberware-section">
                              <h4>Модификации</h4>
                              <div class="mod-list" data-for="neural_link">
                                <!-- модификации -->
                              </div>
                              <button class="add-mod" data-target="neural_link">Добавить модификацию</button>
                            </div>
                        </div>                        
                        <div></div> <!-- ПРОПУСК -->

                        <div class="cyberware-block" data-type="fashionware">
                            <div class="cyberware-section">
                              <h4>Модные импланты</h4>
                              <div class="cyberware-description" contenteditable="true">
                                <!-- Какое нибудь описание -->
                            </div></div>
                            <div class="cyberware-section">
                              <h4>Модификации</h4>
                              <div class="mod-list" data-for="fashionware">
                                <!-- модификации -->
                              </div>
                              <button class="add-mod" data-target="fashionware">Добавить модификацию</button>
                            </div>
                        </div>

                        <!-- КИБЕРНОГИ -->
                        <div class="cyberware-block" data-type="cyberleg_right">
                            <div class="cyberware-section">
                              <h4>Правая Кибернога<input type="checkbox" class="cybertoggle"></h4>
                              <div class="cyberware-description" contenteditable="true">
                                Механическая конечность со встроенными приводами
                            </div></div>
                            <div class="cyberware-section">
                              <h4>Модификации</h4>
                              <div class="mod-list" data-for="cyberleg">
                                <!-- модификации -->
                              </div>
                              <button class="add-mod" data-target="cyberleg">Добавить модификацию</button>
                            </div>
                        </div>
                        <div></div> <!-- ПРОПУСК -->
                        <div class="cyberware-block" data-type="cyberleg_left">
                            <div class="cyberware-section">
                              <h4>Левая Кибернога<input type="checkbox" class="cybertoggle"></h4>
                              <div class="cyberware-description" contenteditable="true">
                                Механическая конечность со встроенными приводами
                            </div></div>
                            <div class="cyberware-section">
                              <h4>Модификации</h4>
                              <div class="mod-list" data-for="cyberleg">
                                <!-- модификации -->
                              </div>
                              <button class="add-mod" data-target="cyberleg">Добавить модификацию</button>
                            </div>
                        </div>

                        <div class="cyberware-block" data-type="borg">
                            <div class="cyberware-section">
                                <h4>БОРГИРОВАНИЕ</h4>
                                <div class="cyberware-description" contenteditable="true">
                                <!-- Какое нибудь описание -->
                            </div></div>
                            <div class="cyberware-section">
                                <h4>Модификации</h4>
                                <div class="mod-list" data-for="borg">
                                <!-- модификации -->
                                </div>
                                <button class="add-mod" data-target="borg">Добавить модификацию</button>
                            </div>
                        </div>
                    </div>
                    
                    <!-- ОДНО МОДАЛЬНОЕ ОКНО -->
                    <div id="modalOverlayCyber" class="modal-overlay">
                        <div class="modalcybermod">
                            <h3 id="modModalTitle">Выберите модификацию</h3>
                            <div id="modOptionsContainer"></div>
                            <button id="closeModModal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </body>
    <script type="module" src="{% static 'js/main.js' %}"></script>
</html>