<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <video autoplay muted loop id="bgVideo">
        <source src="../static/video/Background_Main.mp4" type="video/mp4">
        Ваш браузер не поддерживает видео.
    </video>

    <div class="background">
        <div class="black-carpet"></div>
    </div>

    <h1 style="text-align: center;">Добро пожаловать в <br> Микоши</h1>
    <h3>ыИдеальное цифровое хранилище для ваших персонажей</h3>

    {% if user.is_authenticated %}
        <p>Приветсвуют, Мр. {{ user.username }}</p>
        <div class="button-container">
            <a href="{% url 'profile' %}">Продолжить</a>
            <a href="{% url 'logout' %}">Выйти</a>
        </div>
    {% else %}
        <p>Пожалуйста, пройдите процесс авторизации</p>
        <div class="button-container">
            <a href="{% url 'login' %}">Войти</a>
            <a href="{% url 'register' %}">Зарегестрироваться</a>
        </div>
    {% endif %}
</body>
</html>