<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <video autoplay muted loop id="bgVideo">
        <source src="../static/video/Background_Main.mp4" type="video/mp4">
        Ваш браузер не поддерживает видео.
    </video>

    <div class="background">
        <div class="black-carpet"></div>
    </div>

    <h1>WELCOME TO MIKOSHI</h1>
    <h3>A Perfect Digital Prison For Your Characters</h3>

    {% if user.is_authenticated %}
        <p>Good day, Mr. {{ user.username }}</p>
        <div class="button-container">
            <a href="{% url 'profile' %}">Continue</a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    {% else %}
        <p>Please complete the authorization process</p>
        <div class="button-container">
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Sign Up</a>
        </div>
    {% endif %}
</body>
</html>