<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/lc.css' %}">
    </head>
    <body>
        <nav class="menu">
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">Карта</a></li>
                <li><a href="#">Контакт</a></li>
            </ul>
        </nav>

        <div class="main">
            <div>
            <div style="width: 200px; height: 200px; background-color: red; justify-self: center;"></div>
            <table class="t">
                <tr><th>Name</th></tr>
                <tr><td>a</td></tr>
                <tr><th>Name</th></tr>
                <tr><td>a</td></tr>
            </table>
            </div>

            <div>
                <table>
                    <thead>
                        <tr>
                        <th>ПЗ</th>
                        <th>Ранения</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input class='inp1' type="text"></td>
                            <td><input class='inp1' type="text"></td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                        <tr>
                        <th>Броня</th>
                        <th>ОС</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td><input class='inp1' type="text"></td>
                        <td><input class='inp1' type="text"></td>
                        </tr>
                        <tr>
                            <td><input class='inp1' type="text"></td>
                            <td><input class='inp1' type="text"></td>
                        </tr>
                        <tr>
                            <td><input class='inp1' type="text"></td>
                            <td><input class='inp1' type="text"></td>
                        </tr>
                    </tbody>
                </table>
                Получение урона
                </div>

            <div class = "">
                <table class="t">
                    <tr><th>INT</th></tr>
                    <tr><td>a</td></tr>
                    <tr><th>INT</th></tr>
                    <tr><td>a</td></tr>
                    <tr><th>INT</th></tr>
                    <tr><td>a</td></tr>
                    <tr><th>INT</th></tr>
                    <tr><td>a</td></tr>
                </table>
            </div>

            <div class = "">
                <table class="t">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>a</td>
                            <td>b</td>
                        </tr>
                    </tbody>
                </table>
                </div>
        </div>
    </body>
</html>