<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Авторизация пользователя</title>
    <link rel="stylesheet" href="{% static 'css/standart.css' %}">
    <style>
        body {
        padding-left: 20px; /* Добавляет отступ слева */
    }
    </style>
</head>
<body>
    <h2>Авторизация пользователя</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Войти</button>
    </form>
    <p><a href="{% url 'register' %}">Создать новый аккаунт</a></p>
</body>
</html>
